# Dependencies
node_modules/**

# Build files
build/

# Environment variables
.env
*.env

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log

# Local database
chat_history.db

# Lock file (User requested)
package-lock.json
# pnpm-lock.yaml

# Local Dev (I don't use Cursor anymore, but some might do.)
docs/zeugs/
.repomix/

# Coverage
node_modules/
coverage/*.css
coverage/*.js
coverage/*.png
coverage/index.html
coverage/lcov-report/
coverage/utils/
coverage/types/
coverage/tools/
coverage/server/
coverage/schema/
!coverage/lcov.info
coverage/coverage-final.json

vite.config.*.timestamp*
vitest.config.*.timestamp*